
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutOriginal</title>
    <style type="text/css">
        body {
            background-image: url('Content/images/background/main-bg_7.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
    </style>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
