<div id="accordion">
    <div class="panel-heading buttons">
        <h5 class="panel-title">
            Database Word
        </h5>
    </div>
    <div class="panel-body">
        <p id="pWord">
            {{vm.wordutopia.Word}}
        </p>
    </div>
    <div class="panel-heading buttons">
        <h5 class="panel-title">
            Captured Pronunciation
        </h5>
    </div>
    <div class="panel-body">
        <p id="pPronunciation">
            {{vm.wordutopia.Pronunciation}}
        </p>
    </div>
    <div class="panel-heading buttons">
        <h5 class="panel-title">
            Captured Phrase
        </h5>
    </div>
    <div class="panel-body">
        <p id="pPhrase">
            {{vm.wordutopia.Phrase}}
        </p>
    </div>
    <div class="panel-heading buttons">
        <h5 class="panel-title">
            Captured Hint
        </h5>
    </div>
    <div class="panel-body">
        <p id="pHint">
            {{vm.wordutopia.Hint}}
        </p>
    </div>
    <div class="panel-heading buttons">
        <h5 class="panel-title">
            Definition
        </h5>
    </div>
    <div class="panel-body">
        <p id="pDefinition">
            {{vm.wordutopia.Definition}}
        </p>
    </div>

</div>
