
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout_Wordutopia_Admin.cshtml";
}

<br />
<br />
<div class="jumbotron">

   

    <br />
    
    <h4>
        Welcome to Worduotpia !
    </h4>
    <br />
    <h5>
        To get started and add your first WORDUTOPIA with all its attributes.
    </h5>

    <h5>
        @Html.ActionLink("CLICK HERE", "Create", "Wordutopia", null)
    </h5>

</div>