
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout_Choicer_Admin.cshtml";
}

<br />
<br />
<div class="jumbotron">

   

    <br />
    
    <h4>
        Welcome to Choicer !
    </h4>
    <br />
    <h5> To get started and add your first CHOICER with all its attributes, click here. 
        </h5>
    <h5>
        @Html.ActionLink("CLICK HERE", "Create", "Choicer", null)
    </h5>

</div>