@{
    ViewBag.Title = "PC";
    Layout = "../Shared/_Layout_Choicer.cshtml";
}
<br />

<div class="jumbotron">

    <h4>About Us</h4>
    <br />
    <br />

    <p>
        <b> At The Restaurant Guide,</b> we decided it was time to bring about change in the way people look for restaurants.
        <br />
        <br />
        There are numerous online resources for finding restaurants in Australia, but having used these sources we believed that they were not providing the end user with the experience that they expected or deserved – and thus, <b>The Restaurant Guide </b>was born!
        <br />
        <br />
        <b> On our directory of Australian restaurants, you won’t find a range of random and non-relevant advertisements being bombarded into your face on every page. You’ll only find relevant, useful and accurate information on our directory listings. Ultimately, this will allow our users to quickly jump online, find what they’re looking for and then get back to whatever it is they need to be doing.</b>
        <br />
        <br />
        Our aim was to make a clear, concise and easy to navigate directory of Australian restaurants so that you wouldn’t get lost – and that’s exactly what we have done!
   </p>

</div>

