@{
    ViewBag.Title = "PC";
    Layout = "../Shared/_Layout_Quester.cshtml";
}
<br />

<div class="jumbotron">

    <h4>About Us</h4>
    <br />
    <br />

    <p>
        Quester is a cloud based application that allows users to create folders on any given subject and fill them with questions, ready to be presented back to the user in the form of a random test. Users can choose which questions to be tested on as well as how many, and whether to use an overall test time or a specific length of time for each quesiton.
        <br />
        <br />
        Quester automatically analyses and records each individual’s performance and stores the results in a test archive, ready to be viewed or re-taken at a later date. Best of all, users can opt to share their database folders and tests with other users online, or restrict access using secure passwords.
        <br />
        <br />
        In short, Quester can be used to help you learn just about anything, from course study material, to new company policies and procedures, to the features and benefits of new products and services - or even a new hobby!
        <br />
        <br />
        The Tuition Cloud hosts 3 applications in total. If you are a student of English or a writer looking to improve your individual style, click on the HOME link followed by the WORDUTOPIA icon. And if you want to compile a multiple choice test, then click on the icon named CHOICER. All 3 applications come with full video tutorials and are located in the DEMO section. We're so confident you're going to love QUESTER we're offering you a month's free trial. Thereafter it's only £2 / month, or less if you pay in advance.
    </p>

</div>

