@{
    ViewBag.Title = "PC";
    Layout = "../Shared/_Layout.cshtml";
}
<br />

<div class="jumbotron">

    <h4>About Us</h4>
    <p>
        The Tution Cloud, has been created to help people test themselves on any given subject by means of 3 fantastic applications:
    </p>
    <ul>
        <li>WORDUTOPIA</li>
        <li>QUESTER </li>
        <li>CHOICER</li>
    </ul>
    <p>
        The Tuition Cloud has been set up to give businesses, students, teachers and hobbyists the option either to
        share data and customised tests across the world by means of a universal data bank, or to restrict folder access
        using secure passwords. The site is further enhanced by a NEWS section
        and dedicated FORUMS for your enjoyment. If you have any suggestions on how to improve Tuition Cloud please let us know.
        Meanwhile, spread the word about us to everyone you know and LIKE us on Facebook.
    </p>

</div>

@*<div class="row">
        <div class="col-md-4">
            <h4>
                <a href="@Url.Action("Wordutopia", "YourController", null)">
                    <img src="~/images/Wordutopia1.png" style="vertical-align: middle; width: 120px; height: 120px "> Wordutopia
                </a>
            </h4>

            <p>
                WORDUTOPIA allows students and writers of English, to build their own personalised database of words -
            </p>
            <br />
            <p align="center"><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>
                <a href="@Url.Action("Quester", "YourController", null)">
                    <img src="~/images/Quester.png" style="vertical-align: middle;  width: 120px; height: 120px "> Quester
                </a>
            </h4>

            <p>QUESTER allows children, students, employees, academics, hobbyists - anyone with a need to learn  </p>
            <br />
            <p align="center"><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>
                <a href="@Url.Action("Choicer", "YourController", null)">
                    <img src="~/images/Choicer.jpg" style="vertical-align: middle;  width: 120px; height: 120px "> Choicer
                </a>
            </h4>

            <p>CHOICER allows personal users, coaches and administrators alike to create multiple choice exams </p>
            <br />
            <p align="center"><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@