@{
    ViewBag.Title = "PC";
    Layout = "../Shared/_Layout_Wordutopia.cshtml";
}
<br />

<div class="jumbotron">

    <h4>About Us</h4>
    <br />
    <br />

    <p>
        WORDUTOPIA, was devised in 2004, by a writer who wished to build his own personal database of words to use in everyday conversation, as well as various writing projects. Over the years, it has grown to include a wealth of other features such as customised tests, with special time considerations, phrase capturing, to remind you how to use the word in everyday conversation, Hints, Reverse Testing, Add to Skipped List, Add to Favourites List, Note taking, Sharing folders and tests online. It's even got a Forum section now, where users can meet new friends and share tips and tricks.
        <br />
        <br />
        Anyone can use WORDUTOPIA regardless of how good or how bad their present command of English vocabulary is.     </p>

</div>

