@{
    ViewBag.Title = "PC";
    Layout = "../Shared/_Layout.cshtml";
}
<br />

<div class="jumbotron">
    <h1>TUTION CLOUD</h1>
    <p class="lead">This is our News page.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 align="center">    Wordutopia</h3>
        <br />
        <p>
            WORDUTOPIA allows students and writers of English, to build their own personalised database of words -
        </p>
        <p align="center"><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3 align="center">Quester</h3>
        <br />
        <p>QUESTER allows children, students, employees, academics, hobbyists - anyone with a need to learn  </p>
        <p align="center"><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3 align="center">Choicer</h3>
        <br />
        <p>CHOICER allows personal users, coaches and administrators alike to create multiple choice exams </p>
        <p align="center"><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
