
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout_Quester_Admin.cshtml";
}

<br />
<br />
<div class="jumbotron">

   

    <br />
    
    <h4>
        Welcome to Quester !
    </h4>
    <br />
    <h5> To get started and add your first QUESTER with all its attributes. 
        </h5>
    <h5>
        @Html.ActionLink("CLICK HERE", "Create", "Quester", null)
    </h5>

</div>